*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/******** Navbar Style ********/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li{
    margin-right: 30px;
}
#navbar ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 18px;
}
#navbar ul li a:hover{
    color: #007bff;
}

/******** Hero Section ********/
#hero{
    text-align: center;
    margin: 100px 0;
    padding: 0 50px;
}
#hero h1{
    font-size: 72px;
    margin-bottom: 20px;
    color: #3B506C;
}
#hero h1 span{
    color: #007bff;
}
#hero p{
    font-size: 20px;
    margin-bottom: 20px;
}
#hero img{
    width: 50%;
    max-width: 55%;
    height: auto;
}

/******** About Section ********/
#about{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 0 50px;
    margin: 100px 0;
}
#about .left{
    text-align: right;
}
#about .left h2{
    font-size: 50px;
    margin-bottom: 20px;
    color: #f96e03;
}
#about .right h2{
    color: #3B506C;
    font-size: 35px;
}

/******** Services Section ********/
#services{
    text-align: center;
    padding: 0 50px;
    margin: 100px 0;
}
#services h2{
    font-size: 50px;
    margin-bottom: 20px;
    color: #3B506C;
}
#services .cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
#services .service{
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
#services .service img{
    height: 250px;
    margin-bottom: 20px;
}
#services .service h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: #3B506C;
}
#services .service p{
    font-size: 18px;
    color: #666;
}
#services .service:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

/******** Footer Section ********/
#footer{
    text-align: center;
    padding: 50px 0;
    background: #2a8df0;
    color: #fff;
}
#footer .footer-links{
    margin-bottom: 20px;
}
#footer .footer-links a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
#footer p{
    font-size: 24px;
    margin-bottom: 20px;
    color:#fff;
}
#footer .social-media{
    margin-top: 20px;
}
#footer .social-media img{
    width: 40px;
    margin: 0 10px;
    transition: 0.3s;
}